# requirements.txt
streamlit>=1.37
pandas>=2.2
numpy>=1.26
requests>=2.32
python-dateutil>=2.9
matplotlib>=3.9
seaborn>=0.13
plotly>=5.24
streamlit-echarts>=0.4.0
tzdata>=2024.1
kaggle>=1.6.14  # (선택) Kaggle API 사용 시 필요
statsmodels>=0.14.2  # seaborn regplot lowess 옵션용
